:root {
    --color-primary: #ffffff; /*text*/
    --color-secondary: #0F1417; /*background*/
    --color-nav: #03838F; /*footer + header*/
    --color-menu: #48abb4; /*sidebar/menu*/
    --color-breadcrumb: #565656; /*breadcrumbs*/
    --color-breadcrumbactive: #ffffffbd;
  
    --color-btn: #028e9b;
    --color-btnextra: #06555c; /*icon backgrounds*/
  
    --color-texthover: #FF8000; /*text*/
    
    --boxshadow-hover: #00eaff21 0px 0px 20px 10px inset; /*logo*/
  
    --height-header: 80px;
    --main-padding: 10px 100px;
  }