/* PROMO BANNER */

.promo-banner {
    padding: 20px;
    /* margin-bottom: 20px; */
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.promo-img {
    background: var(--color-nav);
    border-radius: 20px;
    display: flex;
    padding: 5px;
    /* justify-content: center; */
    
}

.promo-banner img {
    max-height: 800px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    position: relative;
}

.promo-btn {
    position: absolute;
    /* float: center; */
    /* bottom: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 40%;
    background-color: var(--color-btnextra);
    /* color: var(--color-primary); */
    /* text-decoration: none; */
    border-radius: 20px;
    height: auto;
    min-height: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.promo-btn a {
    font-size: 1.1em;
    text-decoration: none;
    color: var(--color-primary);
}

.promo-btn:hover {
    cursor: pointer;
    background-color: var(--color-categorybtnhover);
}

@media (max-width: 900px) {
    .promo-btn a {
        font-size: 1em;
    }
}

/* MOVIE CATEGORY SECTION */

.category {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: var(--color-boxbackground);
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-primary);
}

.category-header h4 {
    margin: 0;
    text-decoration: none;
    color: var(--color-primary);
}

.view-more {
    color: var(--color-primary);
    text-decoration: none;
    background-color: var(--color-categorybtn);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-more:hover {
    background-color: var(--color-categorybtnhover);    
}

.category-content {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px;
    align-items: center;
}

/* POSTER IMAGES */

.movie {
    position: relative;
    display: inline-block;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    object-fit: scale-down;
}

.movie img:hover {
    /* transform: scale(1.05); */
    cursor: pointer;
    border: 2px solid var(--color-movieoverlay);
}

/* MOVIE OVERLAY */

.movie-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-movieoverlay);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 100;
}

 .movie-info img {
    width: 20px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 20px;
  }

/* MEDIA QUARIES CATEGORY + IMAGE POSTERS / HOMEPAGE CONTENT */

@media (min-width: 801px) and (max-width: 1199px) {
    .category-content {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .view-more {
        display: flex;
    }
}

@media (min-width: 2040px) {
    .category-content {
        grid-template-columns: repeat(auto-fill, minmax (300px, 1fr));
    }
}

@media (min-width: 1200px) and (max-width: 1735px) {
    .category-content {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 800px) {
    .category-content {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .category-header h4 {
        font-size: 1.2em;
    }
    .category a {
        font-size: 1em;
    }
    .view-more {
        display: flex;
    }
    .movie-info {
        padding: 5px;
    }
    .category-content .movie-info h3, .category-content .movie-info p {
        font-size: 1em;
    }
    .category-content .movie-info a {
        font-size: 0.8em;
    }
    .movie-info img {
        width: 20px;
        height: auto;
        position: absolute;
        top: 5px;
        right: 0px;
        z-index: 101;
      }
}