/* PROMO BANNER */

.promo-banner {
    padding: 20px;
    /* margin-bottom: 20px; */
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
}

.promo-img {
    background: var(--color-nav);
    border-radius: 20px;
    display: inline-block;
    justify-content: center;
}

.promo-banner img {
    max-height: 800px;
    object-fit: scale-down;
    border-radius: 20px;
}

.promo-btn {
    position: absolute;
    float: center;
    bottom: 50%;
    left: 50%;
    width: 400px;
    background-color: var(--color-btnextra);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 20px;
    height: 60px;
    align-content: center;
    transition: 0.3s;
}

.promo-btn a {
    font-size: 1.1em;
}

.promo-btn:hover {
    cursor: pointer;
    background-color: var(--color-categorybtnhover);
    scale: 1.05;
}

/* MOVIE CATEGORY SECTION */

.category {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: var(--color-boxbackground);
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-primary);
}

.category-header h4 {
    margin: 0;
}

.view-more {
    color: #fff;
    text-decoration: none;
    background-color: var(--color-categorybtn);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-more:hover {
    background-color: var(--color-categorybtnhover);    
}

.category-content {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 1735) {
    .category-content {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 1199) {
    .category-content {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media screen and (min-width: 2040) {
    .category-content {
        grid-template-columns: repeat(auto-fill, minmax (300px, 1fr));
    }
}

.movie img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
    object-fit: scale-down;
}

.movie img:hover {
    transform: scale(1.05);
}